.ProductDetails {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 700px;

	.prod-top {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 0 65px;
		width: 100%;

		// Item Added Message
		.item-added-slide-cont {
			display: none;
			position: absolute;
			width: 100%;
			margin-bottom: 50px;
		}
		.item-added-cont {
			display: flex;
			align-items: center;
			padding-left: 10px;
		}
		.item-added {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 45px;
			width: 250px;
			background-color: #28a745;
			color: #ffffff;
			border-radius: 5px;
			transition: all 0.3s;
			font-weight: bold;
			padding: 0 30px;
		}
	}
	.prod-middle {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin: 60px 0;

		.prod-info {
			display: flex;
			flex-direction: column;
			align-items: center;
			height: 400px;
			padding: 0 30px;
			width: 50%;
	
			.prod-title {
				font-weight: bold;
				font-size: 25px;
				margin-bottom: 25px;
				text-transform: uppercase;
				line-height: 30px;
				text-align: center;
			}
			.prod-price {
				color: #2d89fa;
				font-weight: bold;
				font-size: 17px;
			}
			.add-to-cart {
				margin-top: 35px;
				width: 250px;
				height: 45px;
				background-color: #2d89fa;
				color: #ffffff;
			}
			.prod-descrip {
				width: 85%;
				margin-top: 40px;
				// text-transform: uppercase;
				font-style: italic;
				font-size: 17px;
				line-height: 30px;
			}
		}
		.prod-img-cont {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 50%;
			
			.prod-img {
				height: 400px;
			}
		}
	}
}