.main {
  height: 800px; }

.home-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: url(.././images/macbook-pro-table.jpeg);
  background-size: cover; }
  .home-page .h-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    padding: 25px 40px;
    border-radius: 8px; }

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding: 0 15px; }
  .navbar .nav-item {
    width: 200px;
    text-align: center;
    color: #000000;
    font-size: 15px; }
  .navbar .nav-title {
    font-size: 20px; }
  .navbar .right-nav {
    display: flex;
    align-items: center;
    justify-content: center; }
  .navbar .nav-icon {
    font-size: 20px;
    color: #000000;
    margin: 10px; }

.message-bar {
  background-color: #bdbcbc;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0; }

.Footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px; }

.ProductsPage {
  padding: 10px;
  background-color: #f2f3f5; }

.ProductsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.ProductItem:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2); }

.ProductItem:hover .product-options {
  display: flex; }

.ProductItem:hover .product-info {
  display: none; }

.ProductItem .product-options {
  transition: display 2s; }

.ProductItem .product-info {
  transition: display 2s; }

.ProductItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 442px;
  height: 478px;
  color: #000000;
  background-color: #ffffff;
  margin: 15px;
  border-radius: 5px;
  padding: 15px;
  transition: box-shadow 0.5s; }
  .ProductItem .product-img-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 422px;
    background-color: #ffffff; }
    .ProductItem .product-img-cont .product-img {
      height: 170px; }
  .ProductItem .product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 130px;
    padding: 25px 0px;
    border-top: 1px solid #dedede;
    transition: display 2s; }
  .ProductItem .product-options {
    display: none;
    justify-content: center;
    width: 100%;
    height: 130px;
    padding: 25px 0px;
    background-color: #ffffff;
    transition: display 2s; }
    .ProductItem .product-options .add-cart-btn {
      width: 60%;
      background-color: #2d89fa;
      color: #ffffff;
      transition: background-color 0.3s; }
      .ProductItem .product-options .add-cart-btn .fa-shopping-cart {
        margin-right: 7px; }
    .ProductItem .product-options .add-cart-btn:hover {
      background-color: #fcba03; }
    .ProductItem .product-options .details-btn {
      height: 80px;
      width: 100%;
      background-color: #ffffff;
      border: 2px solid rgba(222, 222, 222, 0.5);
      transition: all 0.3s; }
      .ProductItem .product-options .details-btn .details-title {
        margin-left: 7px; }
    .ProductItem .product-options .details-btn:hover {
      background-color: #2d89fa;
      color: #ffffff; }
    .ProductItem .product-options .details-link {
      width: 40%; }
  .ProductItem .p-info-bottom {
    display: flex;
    justify-content: space-between; }
  .ProductItem .product-price {
    color: #2d89fa;
    font-weight: bold; }
  .ProductItem .product-title {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
    text-transform: uppercase;
    width: 80%; }

.ProductDetails {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px; }
  .ProductDetails .prod-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .ProductDetails .prod-top .prod-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 400px;
      padding: 0 30px;
      width: 50%; }
      .ProductDetails .prod-top .prod-info .prod-title {
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 25px;
        text-transform: uppercase;
        line-height: 30px;
        text-align: center; }
      .ProductDetails .prod-top .prod-info .prod-price {
        color: #2d89fa;
        font-weight: bold;
        font-size: 17px; }
      .ProductDetails .prod-top .prod-info .add-to-cart {
        margin-top: 35px;
        width: 250px;
        height: 45px; }
      .ProductDetails .prod-top .prod-info .prod-descrip {
        width: 85%;
        margin-top: 40px;
        font-style: italic;
        font-size: 17px;
        line-height: 30px; }
    .ProductDetails .prod-top .prod-img-cont {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%; }
      .ProductDetails .prod-top .prod-img-cont .prod-img {
        height: 400px; }
