.main {
  height: 800px;
}
.home-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: url(./images/macbook-pro-table.jpeg);
  background-size: cover;
}
.h-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  padding: 25px 40px;
  border-radius: 8px;
}
#navbar {
  margin-bottom: 0;
}
.Footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}