.main {
  height: 800px;
}
.home-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: url(.././images/macbook-pro-table.jpeg);
	background-size: cover;
	
	.h-info {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		background-color: #ffffff;
		padding: 25px 40px;
		border-radius: 8px;
	}
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
	padding: 0 15px;
	
	.nav-item {
		width: 200px;
		text-align: center;
		color: #000000;
		font-size: 15px;
	}
	.nav-title {
		font-size: 20px;
	}
	.right-nav {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.nav-icon {
		font-size: 20px;
		color: #000000;
		margin: 10px;
	}
}
.Footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
.ProductsPage {
  padding: 10px;
	// background-color: #e6e6e6;
	background-color: #f2f3f5;
}
.ProductsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ProductItem:hover .product-options {
	display: flex;		
}
.ProductItem:hover .product-info {
	display: none;
}
.ProductItem {
  display: flex;
  flex-direction: column;
  align-items: center;
	width: 442px;
	height: 478px;
	color: #000000;
	background-color: #ffffff;
	margin: 15px;
	border-radius: 5px;
	padding: 15px;
	
	.product-img-cont {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 422px;
		background-color: #ffffff;

		.product-img {
			height: 170px;
		}
	}
	.product-info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: 130px;
		padding: 25px 0px;
		border-top: 1px solid #dedede;
	}
	.product-options {
		display: none;
		justify-content: center;
		width: 100%;
		height: 130px;
		padding: 25px 0px;
		background-color: #ffffff;

		.add-cart-btn {
			width: 60%;
			background-color: #2d89fa;
			color: #ffffff;
		}
		.add-cart-btn:hover {
			background-color:#a3a3a3;
		}
		.details-btn {
			width: 40%;
		}
		.details-btn:hover {
			background-color: #2d89fa;
			color: #ffffff;
		}
	}
	.p-info-bottom {
		display: flex;
		justify-content: space-between;
	}
	.product-price {
		color: #2d89fa;
		font-weight: bold;
	}
	.product-title {
		font-weight: bold;
		font-size: 15px;
		margin-bottom: 5px;
		text-transform: uppercase;
		width: 80%;
	}
}
